* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.logo {
  background-color: gray;
  padding: 15px 30px;
  font-weight: 700;
  color: white;
  font-size: 24px;
}
.header-title {
  text-align: center;
  margin: 20px 0;
}
