* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.logo {
  background-color: gray;
  padding: 15px 30px;
  font-weight: 700;
  color: white;
  font-size: 24px;
}
.header-title {
  text-align: center;
  margin: 20px 0;
}

.form {
  text-align: center;
  margin-bottom: 20px;
}
/* weather-container */
.weather-container {
  background-color: #1b1a1a;
  color: white;
  width: 300px;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
