* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.header {
  margin: 0 auto;
  text-align: center;
}
/* Box0 styles here */
.box0 {
  width: 200px;
  height: 200px;
  background-color: brown;
  margin: 30px auto;
  /* transformation effects */
  transition: transform 1s ease;
  transition: background-color 1s ease;
  transition: scale 1s ease;
}
.box0:hover {
  transform: rotate(0deg);
  background-color: aqua;
  scale: 2;
  border-radius: 50%;
}
/* Box1 styles here */
.box1 {
  background-color: blue;
  width: 200px;
  height: 200px;
  margin: auto;

  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes example {
  from {
    transform: translateY(0px) rotate(0deg);
  }
  to {
    transform: translateY(-100px) rotate(360deg);
  }
}
/* Box2 style */
.box2 {
  width: 200px;
  height: 200px;
  background-color: rgb(49, 226, 21);
  margin: 30px;
  /* transformation effects */
  transition: transform 1s ease;
}
.box2:hover {
  transform: translate(100px, 100px) rotate(45deg);
}
/* Loading style */
.loading {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  border: 5px solid cyan;
  box-shadow:
    0 0 8px cyan,
    0 0 8px cyan;
  animation: loading 2s ease-in infinite;
}
@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  33% {
    transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  }
  67% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
  }
}
/* scrow-element style */
.block {
  width: 300px;
  height: 100px;
  background-color: blanchedalmond;
  margin: 20px auto;
  animation: scrolling linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}
@keyframes scrolling {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0px);
  }
}
