<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/main.css" />
    <title>openReads</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">openReads</div>
      <div class="header-title">
        <h1>Welcome to openReads</h1>
        <p>Your gateway to a world of books.</p>
      </div>
    </header>
  </body>
</html>
